<h2>Orders</h2>

<table class="table table-bordered" id="dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Total Price</th>
            <th>Options</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Total Price</th>
            <th>Options</th>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td>Tiger Nixon</td>
            <td>Edinburgh</td>
            <td>$320,800</td>
            <td><a class="btn btn-small btn-primary" href="#">View</a></td>
        </tr>
    </tbody>
</table>