
PORT = 8000

BASE_URL = http://127.0.0.1:8000
# Database 
DATABASE = test_db
MONGODB_URL = mongodb://localhost:27017/<DATABASE>


# This is a comment
SECRET_KEY=YOURSECRETKEYGOESHERE 
SECRET_HASH="something-with-a-#-hash"

#  Email Configrution

# EMAIL SMTP
SMTP_PORT = 465
SMTP_SERVER = 
EMAIL_USER =  
EMAIL_PASSWORD =  
ADMIN_EMAIL = 

#  secret key
JWT_SECRET =  